<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="LetShopTestCases">
	<listeners>
		<listener class-name="org.LetsShop.TestComponents.Listeners"></listener>
	</listeners>
  <test thread-count="5" name="ErrorValidationTest">
    <classes>
      <class name="org.LetsShop.test.ErrorValidationTest"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="SubmitOrderTest">
    <classes>
      <class name="org.LetsShop.test.SubmitOrderTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
